doctype html
head
body
div
p
b Hi Sir/Madam
div
p The Auction for item #{data.itemName} has ended
div
p The Details are as follow:
p Winner Name : #{data.userDetails.name}
p Highest Bid : #{data.highestBidDetails.amount}
p Item Description : #{data.itemDesc}